<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Manager</title>   
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/style.css')}}"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <navbar class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img class="logo" src="{{ url_for('static', filename='images/logo.png')}}"/>Document Manager</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/upload">Upload</a>
          </div>
        </div>
      </div>
    </nav>
  </navbar>
  <div class="container">
 
  <div class="view-ctn">
    {% if data %}
    <div class="head-ctn">
    <h3>{{data['title']}} </h3>
    <p class="date">Uploaded on: {{data['upload_date']}}</p>
  </div>
  
    <p class="view-desc">{{data['description']}}</p>
    <div class="view-option-ctn">
    <a href="/download/{{data['id']}}?download=True" class="btn btn-dark">Download<img class="view-download-icon" src="{{url_for('static', filename='images/view-download.png')}}"/></a>
    <div>
      <a href="/update/{{data['id']}}"><img class="edit-icon icon" src="{{url_for('static', filename='images/edit.png')}}"/></a>
      <a href="/delete/{{data['id']}}?filename={{data['file_path']}}"
        ><img class="delete-icon icon" src="{{url_for('static', filename='images/delete.png')}}"/></a
      >
  </div>  
  </div>
    
    {% set extension = (data['file_path'].split('.')[-1]).lower() %} {% set
    allowable = ['pdf'] %} {% if extension in
    allowable%}
    <div style="margin-top: 40px;">
      <h6>Pdf Preview</h6>
    <iframe
    src="/download/{{data['id']}}"
    width="100%"
    height="600px"
    style="border:none;"
  ></iframe>
</div>
  {% endif %}
    {% endif %}
  </div>
  </body>
</html>
